.messages-table {
    width: 100%;
    border-collapse: separate; /* Разделение границ для закругления углов */
    border-spacing: 0; /* Убирает пробелы между ячейками */
    font-family: Arial, sans-serif;
    border: 1px solid #000000; /* Граница вокруг всей таблицы */
    border-radius: 8px; /* Закругление углов таблицы */
    overflow: hidden; /* Обрезка содержимого за пределами границ */
}

/* Стиль для ячеек */
.messages-table td, .messages-table th {
    border: 1px solid #000000; /* Граница ячеек */
    padding: 8px;
    text-align: left;
}

/* Закругление углов для первой и последней строки */
.messages-table tr:first-child td {
    border-top-left-radius: 8px; /* Закругление верхнего левого угла */
    border-top-right-radius: 8px; /* Закругление верхнего правого угла */
}

.messages-table tr:last-child td {
    border-bottom-left-radius: 8px; /* Закругление нижнего левого угла */
    border-bottom-right-radius: 8px; /* Закругление нижнего правого угла */
}

/* Стиль для строки с контентом */
.messages-table tr td[colspan="3"] {
    background-color: #b4b4b4; /* Фон для строки с контентом */
    font-size: 14px;
    word-wrap: break-word;
}

.messages-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.messages-table tr:hover {
    background-color: #f1f1f1;
}