@page "/"

<PageTitle>Home</PageTitle>

<h1>Кошелек.Ру Тестовое задание</h1>
<NavLink href="/Writer" class="nav-link">Отправка сообщений</NavLink>
<NavLink href="/StreamReader" class="nav-link">Потоковое чтение сообщений</NavLink>
<NavLink href="/RangeReader" class="nav-link">Получить сообщения за период</NavLink>