@page "/StreamReader"

<NavLink href="/" class="nav-link">Назад</NavLink>
<h3>StreamReader</h3>
<p>Состояние не сохраняется, отображаются сообщения, которые были приняты только за время пока страница активна</p>